<div class="card">
  <div class="card-body">
    <h5 class="card-title">Usuarios</h5>
    
    <div class="row">
      <div class="col-12 text-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="showModal()">
          Agregar Usuario
        </button>  
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-12">
        <table class="table teble-hover table-striped table-sm">
          <thead>
            <tr>
              <th>Opc</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>
                <div class="btn-group">
                  <button class="btn btn-primary btn-sm" (click)="editUser(user.idUser)"><i class='fas fa-pencil-alt'></i></button>
                  <button class="btn btn-danger btn-sm" (click)="deleteUser(user.idUser)"><i class='fas fa-minus-circle'></i></button>
                </div>
              </td>
              <td>{{user.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="formUser" (ngSubmit)="onSubmit()" id="formUser">
        <div class="modal-header">
          <h4 class="modal-title">Administrar Usuarios</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="form-group col-12">
                  <label>Email</label>
                  <input type="email" class="form-control" formControlName="email">
                </div>
                <div class="form-group col-12">
                  <label>Password</label>
                  <input type="password" class="form-control" formControlName="password">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" >Guardar</button>
          <button type="button" class="btn btn-secondary" id="close-modal" data-dismiss="modal">Cerrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
